<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.order.JfShopOrderDetailDao" >

    <resultMap id="JfShopOrderDetailMap" type="com.yfshop.admin.service.bean.order.JfShopOrderDetail" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="out_order_id" property="outOrderId" jdbcType="VARCHAR" />
        
        <result column="shop_order_id" property="shopOrderId" jdbcType="INTEGER" />
        
        <result column="channel" property="channel" jdbcType="VARCHAR" />
        
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />

        <result column="purchase_value" property="purchaseValue" jdbcType="INTEGER" />

        <result column="settlement_value" property="settlementValue" jdbcType="INTEGER" />

        <result column="face_value" property="faceValue" jdbcType="INTEGER" />

        <result column="score" property="score" jdbcType="INTEGER" />
        
        <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
        
        <result column="item_no" property="itemNo" jdbcType="VARCHAR" />
        
        <result column="out_item_no" property="outItemNo" jdbcType="VARCHAR" />
        
        <result column="num" property="num" jdbcType="INTEGER" />
        
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        out_order_id,
        shop_order_id,
        channel,
        mobile,
        face_value,
        settlement_value,
        purchase_value,
        score,
        item_title,
        item_no,
        out_item_no,
        num,
        remark
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="outOrderId!=null and outOrderId!=''">
        and out_order_id = #{outOrderId,jdbcType=VARCHAR}
        </if>
        <if test="shopOrderId!=null">
        and shop_order_id = #{shopOrderId,jdbcType=INTEGER}
        </if>
        <if test="channel!=null and channel!=''">
        and channel = #{channel,jdbcType=VARCHAR}
        </if>
        <if test="mobile!=null and mobile!=''">
        and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="faceValue!=null">
        and face_value = #{faceValue,jdbcType=INTEGER}
        </if>
        <if test="purchaseValue!=null">
        and purchase_value = #{purchaseValue,jdbcType=INTEGER}
        </if>
        <if test="settlementValue!=null">
            and settlement_value = #{settlementValue,jdbcType=INTEGER}
        </if>
        <if test="score!=null">
            and score = #{score,jdbcType=INTEGER}
        </if>
        <if test="itemTitle!=null and itemTitle!=''">
        and item_title = #{itemTitle,jdbcType=VARCHAR}
        </if>
        <if test="itemNo!=null and itemNo!=''">
        and item_no = #{itemNo,jdbcType=VARCHAR}
        </if>
        <if test="outItemNo!=null and outItemNo!=''">
        and out_item_no = #{outItemNo,jdbcType=VARCHAR}
        </if>
        <if test="num!=null">
        and num = #{num,jdbcType=INTEGER}
        </if>
        <if test="remark!=null and remark!=''">
        and remark = #{remark,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getJfShopOrderDetailById" resultMap="JfShopOrderDetailMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_shop_order_detail
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfShopOrderDetailListByShopOrderId" resultMap="JfShopOrderDetailMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_shop_order_detail
        where shop_order_id = #{shopOrderId,jdbcType=INTEGER}
    </select>

	<select id="getJfShopOrderDetailCount" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderDetail" resultType="int">
        select count(1) from jf_shop_order_detail where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfShopOrderDetailListByPage" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderDetail" resultMap="JfShopOrderDetailMap">
        select * from jf_shop_order_detail where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderDetail" resultMap="JfShopOrderDetailMap">
        select * from jf_shop_order_detail where 1=1 
        <include refid="where" />
		order by id desc
    </select>
    
  
    <insert id="insertJfShopOrderDetail" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderDetail" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_shop_order_detail (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{outOrderId,jdbcType=VARCHAR},
        #{shopOrderId,jdbcType=INTEGER},
        #{channel,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR},
        #{faceValue,jdbcType=INTEGER},
        #{settlementValue,jdbcType=INTEGER},
        #{purchaseValue,jdbcType=INTEGER},
        #{score,jdbcType=INTEGER},
        #{itemTitle,jdbcType=VARCHAR},
        #{itemNo,jdbcType=VARCHAR},
        #{outItemNo,jdbcType=VARCHAR},
        #{num,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR}
        )
    </insert>
    
    
    <update id="updateJfShopOrderDetail" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderDetail" >
        update jf_shop_order_detail
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outOrderId != null" >
                out_order_id = #{outOrderId,jdbcType=VARCHAR},
            </if>
            <if test="shopOrderId != null" >
                shop_order_id = #{shopOrderId,jdbcType=INTEGER},
            </if>
            <if test="channel != null" >
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="faceValue != null" >
                face_value = #{faceValue,jdbcType=INTEGER},
            </if>
            <if test="purchaseValue != null" >
                purchase_value = #{purchaseValue,jdbcType=INTEGER},
            </if>
            <if test="settlementValue != null" >
                settlement_value = #{settlementValue,jdbcType=INTEGER},
            </if>
            <if test="score != null" >
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="itemTitle != null" >
                item_title = #{itemTitle,jdbcType=VARCHAR},
            </if>
            <if test="itemNo != null" >
                item_no = #{itemNo,jdbcType=VARCHAR},
            </if>
            <if test="outItemNo != null" >
                out_item_no = #{outItemNo,jdbcType=VARCHAR},
            </if>
            <if test="num != null" >
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>