<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.order.JfShopOrderTicketDao" >

    <resultMap id="JfShopOrderTicketMap" type="com.yfshop.admin.service.bean.order.JfShopOrderTicket" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="shop_order_id" property="shopOrderId" jdbcType="INTEGER" />
        
        <result column="detail_order_id" property="detailOrderId" jdbcType="INTEGER" />
        
        <result column="tb_card_no" property="tbCardNo" jdbcType="VARCHAR" />
        
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
        
        <result column="ticket_seq" property="ticketSeq" jdbcType="VARCHAR" />
        
        <result column="use_status" property="useStatus" jdbcType="VARCHAR" />
        
        <result column="is_syn_supplier" property="isSynSupplier" jdbcType="CHAR" />
        
        <result column="syn_supplier_status" property="synSupplierStatus" jdbcType="VARCHAR" />
        
        <result column="syn_supplier_fail_count" property="synSupplierFailCount" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        shop_order_id,
        detail_order_id,
        tb_card_no,
        expire_time,
        ticket_seq,
        use_status,
        is_syn_supplier,
        syn_supplier_status,
        syn_supplier_fail_count
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="shopOrderId!=null">
        and shop_order_id = #{shopOrderId,jdbcType=INTEGER}
        </if>
        <if test="detailOrderId!=null">
        and detail_order_id = #{detailOrderId,jdbcType=INTEGER}
        </if>
        <if test="tbCardNo!=null and tbCardNo!=''">
        and tb_card_no = #{tbCardNo,jdbcType=VARCHAR}
        </if>
        <if test="expireTime!=null and expireTime!=''">
        and expire_time = #{expireTime,jdbcType=TIMESTAMP}
        </if>
        <if test="ticketSeq!=null and ticketSeq!=''">
        and ticket_seq = #{ticketSeq,jdbcType=VARCHAR}
        </if>
        <if test="useStatus!=null and useStatus!=''">
        and use_status = #{useStatus,jdbcType=VARCHAR}
        </if>
        <if test="isSynSupplier!=null and isSynSupplier!=''">
        and is_syn_supplier = #{isSynSupplier,jdbcType=CHAR}
        </if>
        <if test="synSupplierStatus!=null and synSupplierStatus!=''">
        and syn_supplier_status = #{synSupplierStatus,jdbcType=VARCHAR}
        </if>
        <if test="synSupplierFailCount!=null">
        and syn_supplier_fail_count = #{synSupplierFailCount,jdbcType=INTEGER}
        </if>
    </sql>
    
    <select id="getJfShopOrderTicketById" resultMap="JfShopOrderTicketMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_shop_order_ticket
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfShopOrderTicketByOrderDetailId" resultMap="JfShopOrderTicketMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_shop_order_ticket
        where detail_order_id = #{orderDetailId,jdbcType=INTEGER}
    </select>

	<select id="getJfShopOrderTicketCount" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderTicket" resultType="int">
        select count(1) from jf_shop_order_ticket where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfShopOrderTicketListByPage" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderTicket" resultMap="JfShopOrderTicketMap">
        select * from jf_shop_order_ticket where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderTicket" resultMap="JfShopOrderTicketMap">
        select * from jf_shop_order_ticket where 1=1 
        <include refid="where" />
		order by id desc
    </select>
    
  
    <insert id="insertJfShopOrderTicket" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderTicket" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_shop_order_ticket (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{shopOrderId,jdbcType=INTEGER},
        #{detailOrderId,jdbcType=INTEGER},
        #{tbCardNo,jdbcType=VARCHAR},
        #{expireTime,jdbcType=TIMESTAMP},
        #{ticketSeq,jdbcType=VARCHAR},
        #{useStatus,jdbcType=VARCHAR},
        #{isSynSupplier,jdbcType=CHAR},
        #{synSupplierStatus,jdbcType=VARCHAR},
        #{synSupplierFailCount,jdbcType=INTEGER}
        )
    </insert>
    
    
    <update id="updateJfShopOrderTicket" parameterType="com.yfshop.admin.service.bean.order.JfShopOrderTicket" >
        update jf_shop_order_ticket
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shopOrderId != null" >
                shop_order_id = #{shopOrderId,jdbcType=INTEGER},
            </if>
            <if test="detailOrderId != null" >
                detail_order_id = #{detailOrderId,jdbcType=INTEGER},
            </if>
            <if test="tbCardNo != null" >
                tb_card_no = #{tbCardNo,jdbcType=VARCHAR},
            </if>
            <if test="expireTime != null" >
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ticketSeq != null" >
                ticket_seq = #{ticketSeq,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null" >
                use_status = #{useStatus,jdbcType=VARCHAR},
            </if>
            <if test="isSynSupplier != null" >
                is_syn_supplier = #{isSynSupplier,jdbcType=CHAR},
            </if>
            <if test="synSupplierStatus != null" >
                syn_supplier_status = #{synSupplierStatus,jdbcType=VARCHAR},
            </if>
            <if test="synSupplierFailCount != null" >
                syn_supplier_fail_count = #{synSupplierFailCount,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>