<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.card.JfUserSecretKeyDao" >

    <resultMap id="JfUserSecretKeyMap" type="com.yfshop.admin.service.bean.card.JfUserSecretKey" >
        <id column="id" property="id" jdbcType="INTEGER" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />

        <result column="secret_key_prefix" property="secretKeyPrefix" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        secret_key,
        secret_key_prefix
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="secretKey!=null and secretKey!=''">
        and secret_key = #{secretKey,jdbcType=VARCHAR}
        </if>
        <if test="secretKeyPrefix!=null and secretKey!=''">
            and secret_key_prefix = #{secretKeyPrefix,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getJfUserSecretKeyById" resultMap="JfUserSecretKeyMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_card_secret_key
        where id = #{id,jdbcType=INTEGER}
    </select>
        
	<select id="getJfUserSecretKeyCount" parameterType="com.yfshop.admin.service.bean.card.JfUserSecretKey" resultType="int">
        select count(1) from jf_card_secret_key where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfUserSecretKeyListByPage" parameterType="com.yfshop.admin.service.bean.card.JfUserSecretKey" resultMap="JfUserSecretKeyMap">
        select * from jf_card_secret_key where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.card.JfUserSecretKey" resultMap="JfUserSecretKeyMap">
        select * from jf_card_secret_key where 1=1 
        <include refid="where" />
		order by id desc
    </select>

    <insert id="insertJfUserSecretKey" parameterType="com.yfshop.admin.service.bean.card.JfUserSecretKey" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_card_secret_key (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{secretKey,jdbcType=VARCHAR},
        #{secretKeyPrefix,jdbcType=VARCHAR}
        )
    </insert>
    
    <update id="updateJfUserSecretKey" parameterType="com.yfshop.admin.service.bean.card.JfUserSecretKey" >
        update jf_card_secret_key
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="secretKey != null" >
                secret_key = #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test="secretKeyPrefix != null" >
                secret_key_prefix = #{secretKeyPrefix,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>