<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.item.JfCategoryBannerDao" >

    <resultMap id="JfCategoryBannerMap" type="com.yfshop.admin.service.bean.item.JfCategoryBanner" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        
        <result column="category_id" property="categoryId" jdbcType="INTEGER" />

        <result column="banner_title" property="bannerTitle" jdbcType="VARCHAR" />

        <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
        
        <result column="position" property="position" jdbcType="VARCHAR" />
        
        <result column="banner_style" property="bannerStyle" jdbcType="LONGVARCHAR" />

        <result column="is_enable" property="isEnable" jdbcType="VARCHAR" />

    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        merchant_id,
        category_id,
        banner_title,
        banner_url,
        position,
        banner_style,
        is_enable
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="merchantId!=null">
        and merchant_id = #{merchantId,jdbcType=INTEGER}
        </if>
        <if test="categoryId!=null">
        and category_id = #{categoryId,jdbcType=INTEGER}
        </if>

        <if test="bannerTitle!=null and bannerTitle!=''">
            and banner_title = #{bannerTitle,jdbcType=VARCHAR}
        </if>
        <if test="bannerUrl!=null and bannerUrl!=''">
        and banner_url = #{bannerUrl,jdbcType=VARCHAR}
        </if>
        <if test="position!=null and position!=''">
        and position = #{position,jdbcType=VARCHAR}
        </if>
        <if test="bannerStyle!=null and bannerStyle!=''">
        and banner_style = #{bannerStyle,jdbcType=LONGVARCHAR}
        </if>
        <if test="isEnable!=null and isEnable!=''">
            and is_enable = #{isEnable,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getJfCategoryBannerById" resultMap="JfCategoryBannerMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_catagory_banner
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfCategoryBannerByMerchantId" resultMap="JfCategoryBannerMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_catagory_banner
        where merchant_id = #{merchantId,jdbcType=INTEGER}
    </select>

    <select id="getJfCategoryBannerByCategoryId" resultMap="JfCategoryBannerMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_catagory_banner
        where category_id = #{categoryId,jdbcType=INTEGER}
    </select>

	<select id="getJfCategoryBannerCount" parameterType="com.yfshop.admin.service.bean.item.JfCategoryBanner" resultType="int">
        select count(1) from jf_catagory_banner where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfCategoryBannerListByPage" parameterType="com.yfshop.admin.service.bean.item.JfCategoryBanner" resultMap="JfCategoryBannerMap">
        select * from jf_catagory_banner where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.item.JfCategoryBanner" resultMap="JfCategoryBannerMap">
        select * from jf_catagory_banner where 1=1 
        <include refid="where" />
		order by id desc
    </select>
    
    <insert id="insertJfCategoryBanner" parameterType="com.yfshop.admin.service.bean.item.JfCategoryBanner" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_catagory_banner (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{merchantId,jdbcType=INTEGER},
        #{categoryId,jdbcType=INTEGER},
        #{bannerTitle,jdbcType=VARCHAR},
        #{bannerUrl,jdbcType=VARCHAR},
        #{position,jdbcType=VARCHAR},
        #{bannerStyle,jdbcType=LONGVARCHAR},
        #{isEnable,jdbcType=VARCHAR}
        )
    </insert>
    
    
    <update id="updateJfCategoryBanner" parameterType="com.yfshop.admin.service.bean.item.JfCategoryBanner" >
        update jf_catagory_banner
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null" >
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="bannerTitle != null" >
                banner_title = #{bannerTitle,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null" >
                banner_url = #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="position != null" >
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="bannerStyle != null" >
                banner_style = #{bannerStyle,jdbcType=LONGVARCHAR},
            </if>
            <if test="isEnable != null" >
                is_enable = #{isEnable,jdbcType=VARCHAR}
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>