<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.item.JfCategoryRegionDao" >

    <resultMap id="JfCategoryRegionMap" type="com.yfshop.admin.service.bean.item.JfCategoryRegion" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <result column="category_id" property="categoryId" jdbcType="INTEGER" />

        <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
        
        <result column="cy_is_enable" property="cyIsEnable" jdbcType="VARCHAR" />
        
        <result column="yd_is_enable" property="ydIsEnable" jdbcType="VARCHAR" />
        
        <result column="dx_is_enable" property="dxIsEnable" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        category_id,
        province_name,
        cy_is_enable,
        yd_is_enable,
        dx_is_enable
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="categoryId!=null">
            and category_id = #{categoryId,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="provinceName!=null and provinceName!=''">
        and province_name = #{provinceName,jdbcType=VARCHAR}
        </if>
        <if test="cyIsEnable!=null and cyIsEnable!=''">
        and cy_is_enable = #{cyIsEnable,jdbcType=VARCHAR}
        </if>
        <if test="ydIsEnable!=null and ydIsEnable!=''">
        and yd_is_enable = #{ydIsEnable,jdbcType=VARCHAR}
        </if>
        <if test="dxIsEnable!=null and dxIsEnable!=''">
        and dx_is_enable = #{dxIsEnable,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getJfCategoryRegionById" resultMap="JfCategoryRegionMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_category_region
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfCategoryRegionByCategoryId" resultMap="JfCategoryRegionMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_category_region
        where category_id = #{categoryId,jdbcType=INTEGER}
    </select>
        
	<select id="getJfCategoryRegionCount" parameterType="com.yfshop.admin.service.bean.item.JfCategoryRegion" resultType="int">
        select count(1) from jf_category_region where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfCategoryRegionListByPage" parameterType="com.yfshop.admin.service.bean.item.JfCategoryRegion" resultMap="JfCategoryRegionMap">
        select * from jf_category_region where 1=1 
		<include refid="where" />
		order by id desc
		limit 0, 10 
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.item.JfCategoryRegion" resultMap="JfCategoryRegionMap">
        select * from jf_category_region where 1=1 
        <include refid="where" />
		order by id desc
    </select>
    
    <insert id="insertJfCategoryRegion" parameterType="com.yfshop.admin.service.bean.item.JfCategoryRegion" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_category_region (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{categoryId,jdbcType=INTEGER},
        #{provinceName,jdbcType=VARCHAR},
        #{cyIsEnable,jdbcType=VARCHAR},
        #{ydIsEnable,jdbcType=VARCHAR},
        #{dxIsEnable,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateJfCategoryRegion" parameterType="com.yfshop.admin.service.bean.item.JfCategoryRegion" >
        update jf_category_region
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="categoryId != null" >
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="provinceName != null" >
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cyIsEnable != null" >
                cy_is_enable = #{cyIsEnable,jdbcType=VARCHAR},
            </if>
            <if test="ydIsEnable != null" >
                yd_is_enable = #{ydIsEnable,jdbcType=VARCHAR},
            </if>
            <if test="dxIsEnable != null" >
                dx_is_enable = #{dxIsEnable,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>