<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.merchant.JfMerchantDetailDao" >

    <resultMap id="JfMerchantDetailMap" type="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" >
        <id column="id" property="id" jdbcType="INTEGER" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        
        <result column="address" property="address" jdbcType="VARCHAR" />

        <result column="business_alias" property="businessAlias" jdbcType="VARCHAR" />
        
        <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
        
        <result column="notify_public_key" property="notifyPublicKey" jdbcType="LONGVARCHAR" />
        
        <result column="notify_private_key" property="notifyPrivateKey" jdbcType="LONGVARCHAR" />
        
        <result column="auth_book_url" property="authBookUrl" jdbcType="LONGVARCHAR" />
        
        <result column="trademark_url" property="trademarkUrl" jdbcType="LONGVARCHAR" />
        
        <result column="protocol_url" property="protocolUrl" jdbcType="LONGVARCHAR" />
        
        <result column="license_url" property="licenseUrl" jdbcType="LONGVARCHAR" />

        <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
        <result column="open_account_bank" property="openAccountBank" jdbcType="VARCHAR" />
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        merchant_id,
        address,
        business_alias,
        notify_url,
        notify_public_key,
        notify_private_key,
        auth_book_url,
        trademark_url,
        protocol_url,
        license_url,
        bank_card_no,
        open_account_bank,
        bank_account_name
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="merchantId!=null">
        and merchant_id = #{merchantId,jdbcType=INTEGER}
        </if>
        <if test="address!=null and address!=''">
        and address = #{address,jdbcType=VARCHAR}
        </if>
        <if test="businessAlias!=null and businessAlias!=''">
            and business_alias = #{businessAlias,jdbcType=VARCHAR}
        </if>
        <if test="notifyUrl!=null and notifyUrl!=''">
        and notify_url = #{notifyUrl,jdbcType=VARCHAR}
        </if>
        <if test="notifyPublicKey!=null and notifyPublicKey!=''">
        and notify_public_key = #{notifyPublicKey,jdbcType=LONGVARCHAR}
        </if>
        <if test="notifyPrivateKey!=null and notifyPrivateKey!=''">
        and notify_private_key = #{notifyPrivateKey,jdbcType=LONGVARCHAR}
        </if>
        <if test="authBookUrl!=null and authBookUrl!=''">
        and auth_book_url = #{authBookUrl,jdbcType=LONGVARCHAR}
        </if>
        <if test="trademarkUrl!=null and trademarkUrl!=''">
        and trademark_url = #{trademarkUrl,jdbcType=LONGVARCHAR}
        </if>
        <if test="protocolUrl!=null and protocolUrl!=''">
        and protocol_url = #{protocolUrl,jdbcType=LONGVARCHAR}
        </if>
        <if test="licenseUrl!=null and licenseUrl!=''">
        and license_url = #{licenseUrl,jdbcType=LONGVARCHAR}
        </if>
    </sql>
    
    <select id="getJfMerchantDetailById" resultMap="JfMerchantDetailMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_merchant_detail
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfMerchantDetailByBusinessAlias" resultMap="JfMerchantDetailMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from jf_merchant_detail
        where business_alias = #{businessAlias}
        order by id desc limit 1
    </select>

    <select id="getJfMerchantDetailByMerchantId" resultMap="JfMerchantDetailMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_merchant_detail
        where merchant_id = #{merchantId,jdbcType=INTEGER}
        limit 1
    </select>
        
	<select id="getJfMerchantDetailCount" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" resultType="int">
        select count(1) from jf_merchant_detail where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfMerchantDetailListByPage" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" resultMap="JfMerchantDetailMap">
        select * from jf_merchant_detail where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" resultMap="JfMerchantDetailMap">
        select * from jf_merchant_detail where 1=1 
        <include refid="where" />
		order by id desc
    </select>

    <insert id="insertJfMerchantDetail" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_merchant_detail (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{merchantId,jdbcType=INTEGER},
        #{address,jdbcType=VARCHAR},
        #{businessAlias,jdbcType=VARCHAR},
        #{notifyUrl,jdbcType=VARCHAR},
        #{notifyPublicKey,jdbcType=LONGVARCHAR},
        #{notifyPrivateKey,jdbcType=LONGVARCHAR},
        #{authBookUrl,jdbcType=LONGVARCHAR},
        #{trademarkUrl,jdbcType=LONGVARCHAR},
        #{protocolUrl,jdbcType=LONGVARCHAR},
        #{licenseUrl,jdbcType=LONGVARCHAR},
        #{bankCardNo,jdbcType=VARCHAR},
        #{openAccountBank,jdbcType=VARCHAR},
        #{bankAccountName,jdbcType=VARCHAR}
        )
    </insert>
    
    
    <update id="updateJfMerchantDetail" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" >
        update jf_merchant_detail
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="notifyUrl != null" >
                notify_url = #{notifyUrl,jdbcType=VARCHAR},
            </if>
            <if test="notifyPublicKey != null" >
                notify_public_key = #{notifyPublicKey,jdbcType=LONGVARCHAR},
            </if>
            <if test="notifyPrivateKey != null" >
                notify_private_key = #{notifyPrivateKey,jdbcType=LONGVARCHAR},
            </if>
            <if test="authBookUrl != null" >
                auth_book_url = #{authBookUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="trademarkUrl != null" >
                trademark_url = #{trademarkUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="protocolUrl != null" >
                protocol_url = #{protocolUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="licenseUrl != null" >
                license_url = #{licenseUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="bankCardNo != null" >
                bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
            </if>
            <if test="openAccountBank != null" >
                open_account_bank = #{openAccountBank,jdbcType=VARCHAR},
            </if>
            <if test="bankAccountName != null" >
                bank_account_name = #{bankAccountName,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateJfMerchantDetailByMerchantId" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantDetail" >
        update jf_merchant_detail
        <set>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="businessAlias != null" >
                business_alias = #{businessAlias,jdbcType=VARCHAR},
            </if>
            <if test="notifyUrl != null" >
                notify_url = #{notifyUrl,jdbcType=VARCHAR},
            </if>
            <if test="notifyPublicKey != null" >
                notify_public_key = #{notifyPublicKey,jdbcType=LONGVARCHAR},
            </if>
            <if test="notifyPrivateKey != null" >
                notify_private_key = #{notifyPrivateKey,jdbcType=LONGVARCHAR},
            </if>
            <if test="authBookUrl != null" >
                auth_book_url = #{authBookUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="trademarkUrl != null" >
                trademark_url = #{trademarkUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="protocolUrl != null" >
                protocol_url = #{protocolUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="licenseUrl != null" >
                license_url = #{licenseUrl,jdbcType=LONGVARCHAR},
            </if>
            <if test="bankCardNo != null" >
                bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
            </if>
            <if test="openAccountBank != null" >
                open_account_bank = #{openAccountBank,jdbcType=VARCHAR},
            </if>
            <if test="bankAccountName != null" >
                bank_account_name = #{bankAccountName,jdbcType=VARCHAR}
            </if>
        </set>
        where merchant_id = #{merchantId,jdbcType=INTEGER}
    </update>

</mapper>