<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.merchant.JfMerchantChangyouInfoDao" >

    <resultMap id="JfMerchantChangyouInfoMap" type="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        
        <result column="login_url" property="loginUrl" jdbcType="VARCHAR" />
        
        <result column="send_coupon_notify_url" property="sendCouponNotifyUrl" jdbcType="VARCHAR" />
        
        <result column="channel_source" property="channelSource" jdbcType="VARCHAR" />
        
        <result column="partner_id" property="partnerId" jdbcType="VARCHAR" />
        
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        
        <result column="sign_key" property="signKey" jdbcType="VARCHAR" />
        
        <result column="decrypt_key" property="decryptKey" jdbcType="VARCHAR" />
        
        <result column="decrypt_iv" property="decryptIv" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        merchant_id,
        login_url,
        send_coupon_notify_url,
        channel_source,
        partner_id,
        store_id,
        sign_key,
        decrypt_key,
        decrypt_iv
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="merchantId!=null">
        and merchant_id = #{merchantId,jdbcType=INTEGER}
        </if>
        <if test="loginUrl!=null and loginUrl!=''">
        and login_url = #{loginUrl,jdbcType=VARCHAR}
        </if>
        <if test="sendCouponNotifyUrl!=null and sendCouponNotifyUrl!=''">
        and send_coupon_notify_url = #{sendCouponNotifyUrl,jdbcType=VARCHAR}
        </if>
        <if test="channelSource!=null and channelSource!=''">
        and channel_source = #{channelSource,jdbcType=VARCHAR}
        </if>
        <if test="partnerId!=null and partnerId!=''">
        and partner_id = #{partnerId,jdbcType=VARCHAR}
        </if>
        <if test="storeId!=null and storeId!=''">
        and store_id = #{storeId,jdbcType=VARCHAR}
        </if>
        <if test="signKey!=null and signKey!=''">
        and sign_key = #{signKey,jdbcType=VARCHAR}
        </if>
        <if test="decryptKey!=null and decryptKey!=''">
        and decrypt_key = #{decryptKey,jdbcType=VARCHAR}
        </if>
        <if test="decryptIv!=null and decryptIv!=''">
        and decrypt_iv = #{decryptIv,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getJfMerchantChangyouInfoById" resultMap="JfMerchantChangyouInfoMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_merchant_changyou_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfMerchantChangyouInfoByMerchantId" resultMap="JfMerchantChangyouInfoMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jf_merchant_changyou_info
        where merchant_id = #{merchantId,jdbcType=INTEGER}
        limit 1
    </select>

	<select id="getJfMerchantChangyouInfoCount" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" resultType="int">
        select count(1) from jf_merchant_changyou_info where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfMerchantChangyouInfoListByPage" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" resultMap="JfMerchantChangyouInfoMap">
        select * from jf_merchant_changyou_info where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" resultMap="JfMerchantChangyouInfoMap">
        select * from jf_merchant_changyou_info where 1=1 
        <include refid="where" />
		order by id desc
    </select>
    
  
    <insert id="insertJfMerchantChangyouInfo" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_merchant_changyou_info (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{merchantId,jdbcType=INTEGER},
        #{loginUrl,jdbcType=VARCHAR},
        #{sendCouponNotifyUrl,jdbcType=VARCHAR},
        #{channelSource,jdbcType=VARCHAR},
        #{partnerId,jdbcType=VARCHAR},
        #{storeId,jdbcType=VARCHAR},
        #{signKey,jdbcType=VARCHAR},
        #{decryptKey,jdbcType=VARCHAR},
        #{decryptIv,jdbcType=VARCHAR}
        )
    </insert>
    
    
    <update id="updateJfMerchantChangyouInfo" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" >
        update jf_merchant_changyou_info
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="loginUrl != null" >
                login_url = #{loginUrl,jdbcType=VARCHAR},
            </if>
            <if test="sendCouponNotifyUrl != null" >
                send_coupon_notify_url = #{sendCouponNotifyUrl,jdbcType=VARCHAR},
            </if>
            <if test="channelSource != null" >
                channel_source = #{channelSource,jdbcType=VARCHAR},
            </if>
            <if test="partnerId != null" >
                partner_id = #{partnerId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="signKey != null" >
                sign_key = #{signKey,jdbcType=VARCHAR},
            </if>
            <if test="decryptKey != null" >
                decrypt_key = #{decryptKey,jdbcType=VARCHAR},
            </if>
            <if test="decryptIv != null" >
                decrypt_iv = #{decryptIv,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateJfMerchantChangyouInfoByMerchantId" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchantChangyouInfo" >
        update jf_merchant_changyou_info
        <set>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="businessAlias != null" >
                business_alias = #{businessAlias,jdbcType=VARCHAR},
            </if>
            <if test="loginUrl != null" >
                login_url = #{loginUrl,jdbcType=VARCHAR},
            </if>
            <if test="sendCouponNotifyUrl != null" >
                send_coupon_notify_url = #{sendCouponNotifyUrl,jdbcType=VARCHAR},
            </if>
            <if test="channelSource != null" >
                channel_source = #{channelSource,jdbcType=VARCHAR},
            </if>
            <if test="partnerId != null" >
                partner_id = #{partnerId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="signKey != null" >
                sign_key = #{signKey,jdbcType=VARCHAR},
            </if>
            <if test="decryptKey != null" >
                decrypt_key = #{decryptKey,jdbcType=VARCHAR},
            </if>
            <if test="decryptIv != null" >
                decrypt_iv = #{decryptIv,jdbcType=VARCHAR}
            </if>
        </set>
        where merchant_id = #{merchantId,jdbcType=INTEGER}
    </update>


</mapper>