<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.front.service.dao.merchant.JfMerchantDao" >

    <resultMap id="JfMerchantMap" type="com.yfshop.admin.service.bean.merchant.JfMerchant" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
        
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />

        <result column="password" property="password" jdbcType="VARCHAR" />
        
        <result column="contact" property="contact" jdbcType="VARCHAR" />
        
        <result column="channel" property="channel" jdbcType="VARCHAR" />
        
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />

        <result column="group_code" property="groupCode" jdbcType="VARCHAR" />
        
        <result column="is_enable" property="isEnable" jdbcType="CHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        merchant_name,
        mobile,
        password,
        contact,
        channel,
        role_id,
        role_name,
        group_code,
        is_enable
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="startTime!=null and startTime!=''">
        and create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and create_time &lt; #{endTime}
        </if>
        <if test="merchantName!=null and merchantName!=''">
        and merchant_name = #{merchantName,jdbcType=VARCHAR}
        </if>
        <if test="mobile!=null and mobile!=''">
        and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="password!=null and password!=''">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="contact!=null and contact!=''">
        and contact = #{contact,jdbcType=VARCHAR}
        </if>
        <if test="channel!=null and channel!=''">
        and channel = #{channel,jdbcType=VARCHAR}
        </if>
        <if test="roleId!=null">
        and role_id = #{roleId,jdbcType=INTEGER}
        </if>
        <if test="roleName!=null and roleName!=''">
        and role_name = #{roleName,jdbcType=VARCHAR}
        </if>
        <if test="groupCode!=null and groupCode!=''">
            and group_code = #{groupCode,jdbcType=VARCHAR}
        </if>
        <if test="isEnable!=null and isEnable!=''">
        and is_enable = #{isEnable,jdbcType=CHAR}
        </if>
    </sql>
    
    <select id="getJfMerchantById" resultMap="JfMerchantMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from jf_merchant
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getJfMerchantByMobile" resultMap="JfMerchantMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from jf_merchant
        where mobile = #{mobile}
        limit 1
    </select>
        
	<select id="getJfMerchantCount" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchant" resultType="int">
        select count(1) from jf_merchant where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findJfMerchantListByPage" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchant" resultMap="JfMerchantMap">
        select * from jf_merchant where 1=1 
		<include refid="where" />
		order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchant" resultMap="JfMerchantMap">
        select * from jf_merchant where 1=1 
        <include refid="where" />
		order by id desc
    </select>
    
    <insert id="insertJfMerchant" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchant" useGeneratedKeys="true" keyProperty="id" >
        insert into jf_merchant (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{merchantName,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{contact,jdbcType=VARCHAR},
        #{channel,jdbcType=VARCHAR},
        #{roleId,jdbcType=INTEGER},
        #{roleName,jdbcType=VARCHAR},
        #{groupCode,jdbcType=VARCHAR},
        #{isEnable,jdbcType=CHAR}
        )
    </insert>
    
    <update id="updateJfMerchant" parameterType="com.yfshop.admin.service.bean.merchant.JfMerchant" >
        update jf_merchant
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantName != null" >
                merchant_name = #{merchantName,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="contact != null" >
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="channel != null" >
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null" >
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="roleName != null" >
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="groupCode != null" >
                group_code = #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="isEnable != null" >
                is_enable = #{isEnable,jdbcType=CHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>