<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.Order">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="user_coupon_id" property="userCouponId" />
        <result column="item_count" property="itemCount" />
        <result column="child_order_count" property="childOrderCount" />
        <result column="order_price" property="orderPrice" />
        <result column="coupon_price" property="couponPrice" />
        <result column="freight" property="freight" />
        <result column="pay_price" property="payPrice" />
        <result column="is_pay" property="isPay" />
        <result column="bill_no" property="billNo" />
        <result column="pay_time" property="payTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="pay_entry_count" property="payEntryCount" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, user_id, user_coupon_id, item_count, child_order_count, order_price, coupon_price, freight, pay_price, is_pay, bill_no, pay_time, cancel_time, pay_entry_count, remark
    </sql>

</mapper>
