<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.WebsiteCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.WebsiteCode">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="merchant_id" property="merchantId" />
        <result column="merchant_name" property="merchantName" />
        <result column="pid_path" property="pidPath" />
        <result column="batch_no" property="batchNo" />
        <result column="quantity" property="quantity" />
        <result column="order_status" property="orderStatus" />
        <result column="order_no" property="orderNo" />
        <result column="billno" property="billno" />
        <result column="pay_method" property="payMethod" />
        <result column="pay_time" property="payTime" />
        <result column="expree_name" property="expreeName" />
        <result column="order_amount" property="orderAmount" />
        <result column="postage" property="postage" />
        <result column="express_no" property="expressNo" />
        <result column="address" property="address" />
        <result column="mobile" property="mobile" />
        <result column="contracts" property="contracts" />
        <result column="file_url" property="fileUrl" />
        <result column="email" property="email" />
        <result column="file_status" property="fileStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, merchant_id, merchant_name, pid_path, batch_no, quantity, order_status, order_no, billno, pay_method, pay_time, expree_name, order_amount, postage, express_no, address, mobile, contracts, file_url, email, file_status
    </sql>

</mapper>
