<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.shop.dao.ItemDao">

    <update id="updateItemSkuStock">
        update yf_item_sku
        set sku_stock = sku_stock - #{num}
        where id = #{skuId}
          and (sku_stock - #{num} > 0)
    </update>

    <select id="getHotItemList" resultType="java.lang.Integer">
        select a.item_id
        from (select item_id, count(1) c
              from `yf_order_detail` d
              where `order_status` in ('SUCCESS', 'WAIT_DELIVERY', 'WAIT_RECEIVE')
              GROUP BY `item_id`
              ORDER BY c desc limit 16) a
    </select>
</mapper>
