<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.shop.dao.UserCartDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.UserCart">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userId"/>
        <result column="item_id" property="itemId"/>
        <result column="sku_id" property="skuId"/>
        <result column="num" property="num"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, user_id, item_id, sku_id, num
    </sql>

    <sql id="table_name">
		yf_user_cart
    </sql>

    <update id="addCartNum">
        update
        <include refid="table_name"/>
        set num = num + #{num}
        where user_id = #{userId} and sku_id = #{skuId}
    </update>

    <update id="updateCartNum">
        update
        <include refid="table_name"/>
        set num = #{num}
        where user_id = #{userId} and sku_id = #{skuId}
    </update>

</mapper>
