<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.shop.dao.UserCouponDao">

    <update id="updateUserCouponInUse">
        update yf_user_coupon
        set use_status = 'IN_USE'
        where id = #{userCouponId} and use_status = 'NO_USE'
    </update>

</mapper>
