<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.admin.dao.MerchantDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.MerchantDetail">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="merchant_id" property="merchantId" />
        <result column="website_type_id" property="websiteTypeId" />
        <result column="website_type_name" property="websiteTypeName" />
        <result column="is_refrigerator" property="isRefrigerator" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="geo_hash" property="geoHash" />
        <result column="head_image" property="headImage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, merchant_id, website_type_id, website_type_name, is_refrigerator, longitude, latitude, geo_hash, head_image
    </sql>

    <select id="countGroupByWebsiteType" resultType="java.util.Map">
        select count(*) num, website_type_name typeName from yf_merchant_detail group by website_type_name
    </select>

</mapper>
