<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.admin.dao.OrderDao">

    <update id="updateOrderPayStatus">
        update yf_order
        set is_pay = 'Y', bill_no = #{billNo}, pay_time = now()
        where id = #{orderId} and is_pay = 'N'
    </update>

</mapper>
