<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.admin.dao.SpreadGroupOrderDao">


    <select id="getGroupOrderList" resultType="com.yfshop.admin.api.spread.result.SpreadGroupOrderResult">
        select a.*
        from (SELECT merchant_id,
        max(merchant_name) as merchant_name,
        count(1) as order_count,
        IFNULL(sum(order_price),0) as order_price,
        sum(if(order_status='SUCCESS',first_commission,0)) as commission
        FROM `yf_spread_order`
        where  pid = #{req.merchantId}
        <if test="req.key!=null and req.key!=''">
            and merchant_name like concat('%',#{req.key},'%')
        </if>
        <if test="req.orderStatus!=null and req.orderStatus!=''">
            and order_status = #{req.orderStatus}
        </if>
        <if test="req.startTime!=null">
            and create_time &gt;= #{req.startTime}
        </if>
        <if test="req.endTime!=null">
            and create_time &lt; #{req.endTime}
        </if>
        group by merchant_id) a
    </select>

    <select id="getGroupOrderStats"
            resultType="com.yfshop.admin.api.spread.result.SpreadGroupOrderStatsResult">
        SELECT
        count(1) as order_count,
        IFNULL(sum(order_price),0) as order_price
        FROM `yf_spread_order`
        where pid = #{merchantId}
        and order_status = 'SUCCESS'
        <if test="startTime!=null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            and create_time &lt; #{endTime}
        </if>

    </select>


    <select id="getOrderStats"
            resultType="com.yfshop.admin.api.spread.result.SpreadGroupOrderStatsResult">
        SELECT
        count(1) as order_count,
        IFNULL(sum(order_price),0) as order_price
        FROM `yf_spread_order`
        where merchant_id = #{merchantId}
        and order_status = 'SUCCESS'
        <if test="startTime!=null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            and create_time &lt; #{endTime}
        </if>

    </select>


</mapper>
