<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.admin.dao.WebsiteCodeDao">

    <select id="queryWebsiteCodeList" resultType="com.yfshop.admin.api.website.result.WebsiteCodeResult">
        select w.*,m.mobile as merchant_mobile,m.role_name
        from yf_website_code w left join yf_merchant m on m.id = w.merchant_id
        where 1=1
        <if test="req.merchantId!=null">
            and (w.merchant_id=#{req.merchantId} or w.pid_path like concat('%',#{req.merchantId},'%') )
        </if>
        <if test="req.startTime!=null">
            and w.create_time &gt;= #{req.startTime}
        </if>
        <if test="req.endTime!=null">
            and w.create_time &lt; #{req.endTime}
        </if>
        <if test="req.batchNo!=null and req.batchNo!=''">
            and w.batch_no = #{req.batchNo}
        </if>
        <if test="req.merchantName!=null and req.merchantName!=''">
            and w.merchant_name = #{req.merchantName}
        </if>
        <if test="req.orderStatus!=null and req.orderStatus!=''">
            and w.order_status = #{req.orderStatus}
        </if>
        <if test="req.expressNo!=null and req.expressNo!=''">
            and w.express_no = #{req.expressNo}
        </if>
        <if test="req.roleName!=null and req.roleName!=''">
            and m.role_name = #{req.roleName}
        </if>
        <if test="req.mobile!=null and req.mobile!=''">
            and m.mobile = #{req.mobile}
        </if>
        order by w.id desc
    </select>

    <select id="queryWebsiteCodeCount" resultType="java.lang.Integer">
        select count(1)
        from yf_website_code w left join yf_merchant m on m.id = w.merchant_id
        where 1=1
        <if test="merchantId!=null">
            and (w.merchant_id=#{merchantId} or w.pid_path like concat('%',#{merchantId},'%') )
        </if>
        <if test="startTime!=null and startTime!=''">
            and w.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and w.create_time &lt; #{endTime}
        </if>
        <if test="batchNo!=null and batchNo!=''">
            and w.batch_no = #{batchNo}
        </if>
        <if test="merchantName!=null and merchantName!=''">
            and w.merchant_name = #{merchantName}
        </if>
        <if test="orderStatus!=null and orderStatus!=''">
            and w.order_status = #{orderStatus}
        </if>
        <if test="expressNo!=null and expressNo!=''">
            and w.express_no = #{expressNo}
        </if>
        <if test="roleName!=null and roleName!=''">
            and m.role_name = #{roleName}
        </if>
        <if test="mobile!=null and mobile!=''">
            and m.mobile = #{mobile}
        </if>
    </select>

    <select id="queryWebsiteCodeByWl" resultType="com.yfshop.admin.api.website.result.WebsiteCodeResult">
        select w.*,m.mobile as merchant_mobile,m.role_name
        from yf_website_code w left join yf_merchant m on m.id = w.merchant_id
        where 1=1
        <if test="req.merchantId!=null">
            and (w.merchant_id=#{req.merchantId} or w.pid_path like concat('%',#{req.merchantId},'%') )
        </if>
        <if test="req.startTime!=null">
            and w.create_time &gt;= #{req.startTime}
        </if>
        <if test="req.endTime!=null">
            and w.create_time &lt; #{req.endTime}
        </if>
        <if test="req.batchNo!=null and req.batchNo!=''">
            and w.batch_no = #{req.batchNo}
        </if>
        <if test="req.merchantName!=null and req.merchantName!=''">
            and w.merchant_name = #{req.merchantName}
        </if>
        <if test="orderStatus=='UNSHIPPED'">
            and w.express_no is null
        </if>
        <if test="orderStatus=='SHIPPED'">
            and w.express_no is not null
        </if>
        <if test="req.expressNo!=null and req.expressNo!=''">
            and w.express_no = #{req.expressNo}
        </if>
        <if test="req.roleName!=null and req.roleName!=''">
            and m.role_name = #{req.roleName}
        </if>
        <if test="req.mobile!=null and req.mobile!=''">
            and m.mobile = #{req.mobile}
        </if>
        and w.email =''
        and w.order_status not in ('PENDING','PAYING','CANCEL')
        order by w.id desc
    </select>

    <select id="queryWebsiteCodeCountByWl" resultType="java.lang.Integer">
        select count(1)
        from yf_website_code w left join yf_merchant m on m.id = w.merchant_id
        where 1=1
        <if test="merchantId!=null">
            and (w.merchant_id=#{merchantId} or w.pid_path like concat('%',#{merchantId},'%') )
        </if>
        <if test="startTime!=null and startTime!=''">
            and w.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and w.create_time &lt; #{endTime}
        </if>
        <if test="batchNo!=null and batchNo!=''">
            and w.batch_no = #{batchNo}
        </if>
        <if test="merchantName!=null and merchantName!=''">
            and w.merchant_name = #{merchantName}
        </if>
        <if test="orderStatus=='UNSHIPPED'">
            and w.express_no is null
        </if>
        <if test="orderStatus=='SHIPPED'">
            and w.express_no is not null
        </if>
        <if test="expressNo!=null and expressNo!=''">
            and w.express_no = #{expressNo}
        </if>
        <if test="roleName!=null and roleName!=''">
            and m.role_name = #{roleName}
        </if>
        <if test="mobile!=null and mobile!=''">
            and m.mobile = #{mobile}
        </if>
        and w.email =''
        and w.order_status not in ('PENDING','PAYING','CANCEL')
    </select>

    <select id="sumWebsiteCodeByBeforeId" resultType="java.lang.Integer">
        select IFNULL(sum(c.quantity),0)
        from yf_website_code c
        where c.merchant_id = #{merchantId} and c.id &lt; #{id}
    </select>
</mapper>