<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.admin.dao.WebsiteGoodsRecordDao">

    <select id="sumCurrentGoodsRecord" resultType="java.lang.Integer">
        select IFNULL(sum(r.quantity), 0)
        from yf_website_goods_record r
        where r.merchant_id =  #{merchantId}
        <if test="startTime!=null">
            and r.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            and r.create_time &lt; #{endTime}
        </if>
    </select>


    <select id="sumAllGoodsRecord" resultType="java.lang.Integer">
        select IFNULL(sum(r.quantity), 0)
        from yf_website_goods_record r
        where r.pid_path like CONCAT('%.', #{merchantId}, '.%')
        <if test="startTime!=null">
            and r.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            and r.create_time &lt; #{endTime}
        </if>
    </select>

    <select id="sumGoodsRecordByMerchantId" resultType="java.lang.Integer">
        select IFNULL(sum(r.quantity), 0)
        from yf_website_goods_record r
        where r.website_id =  #{merchantId}
        <if test="startTime!=null">
            and r.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            and r.create_time &lt; #{endTime}
        </if>
    </select>
</mapper>