<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.ActCodeBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.ActCodeBatch">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="batch_no" property="batchNo" />
        <result column="quantity" property="quantity" />
        <result column="act_id" property="actId" />
        <result column="file_src_url" property="fileSrcUrl" />
        <result column="file_url" property="fileUrl" />
        <result column="file_md5" property="fileMd5" />
        <result column="file_status" property="fileStatus" />
        <result column="is_download" property="isDownload" />
        <result column="is_send" property="isSend" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, batch_no, quantity, act_id, file_src_url, file_url, file_md5, file_status, is_download, is_send
    </sql>

</mapper>
