<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.DrawPrizeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.DrawPrize">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="act_id" property="actId" />
        <result column="prize_level" property="prizeLevel" />
        <result column="prize_title" property="prizeTitle" />
        <result column="coupon_id" property="couponId" />
        <result column="prize_count" property="prizeCount" />
        <result column="prize_icon" property="prizeIcon" />
        <result column="win_rate" property="winRate" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, act_id, prize_level, prize_title, coupon_id, prize_count, prize_icon, win_rate, sort
    </sql>

</mapper>
