<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.DrawProvinceRateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.DrawProvinceRate">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="act_id" property="actId" />
        <result column="province_id" property="provinceId" />
        <result column="province_name" property="provinceName" />
        <result column="first_prize_id" property="firstPrizeId" />
        <result column="first_win_rate" property="firstWinRate" />
        <result column="sencond_prize_id" property="sencondPrizeId" />
        <result column="sencond_win_rate" property="sencondWinRate" />
        <result column="third_prize_id" property="thirdPrizeId" />
        <result column="third_win_rate" property="thirdWinRate" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, act_id, province_id, province_name, first_prize_id, first_win_rate, sencond_prize_id, sencond_win_rate, third_prize_id, third_win_rate, sort
    </sql>

</mapper>
