<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.IpAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.IpAddress">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="ip_start_str" property="ipStartStr" />
        <result column="ip_end_str" property="ipEndStr" />
        <result column="ip_start_long" property="ipStartLong" />
        <result column="ip_end_long" property="ipEndLong" />
        <result column="address" property="address" />
        <result column="operator" property="operator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, ip_start_str, ip_end_str, ip_start_long, ip_end_long, address, operator
    </sql>
    
    <select id="getYfIpAddressByIpLong" resultMap="BaseResultMap" >
        select * from yf_ip_address
        where #{ipLong} &gt;= ip_start_long and
        #{ipLong} &lt;= ip_end_long limit 1
    </select>

</mapper>
