<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.MerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.Merchant">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="open_id" property="openId" />
        <result column="pid" property="pid" />
        <result column="p_merchant_name" property="pMerchantName" />
        <result column="pid_path" property="pidPath" />
        <result column="role_alias" property="roleAlias" />
        <result column="role_name" property="roleName" />
        <result column="merchant_name" property="merchantName" />
        <result column="mobile" property="mobile" />
        <result column="password" property="password" />
        <result column="contacts" property="contacts" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="district_id" property="districtId" />
        <result column="address" property="address" />
        <result column="is_enable" property="isEnable" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, open_id, pid, p_merchant_name, pid_path, role_alias, role_name, merchant_name, mobile, password, contacts, province, city, district, province_id, city_id, district_id, address, is_enable, is_delete
    </sql>

</mapper>
