<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.PostageRulesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.PostageRules">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="condition" property="condition" />
        <result column="is_true" property="isTrue" />
        <result column="is_false" property="isFalse" />
        <result column="sku_ids" property="skuIds" />
        <result column="coupon_id" property="couponId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, condition, is_true, is_false, sku_ids, coupon_id
    </sql>

</mapper>
