<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.SpreadOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.SpreadOrder">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="order_no" property="orderNo" />
        <result column="item_name" property="itemName" />
        <result column="merchant_name" property="merchantName" />
        <result column="merchant_id" property="merchantId" />
        <result column="merchant_mobile" property="merchantMobile" />
        <result column="merchant_role" property="merchantRole" />
        <result column="pid_name" property="pidName" />
        <result column="pid" property="pid" />
        <result column="order_price" property="orderPrice" />
        <result column="first_commission" property="firstCommission" />
        <result column="second_commission" property="secondCommission" />
        <result column="order_status" property="orderStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, order_no, item_name, merchant_name, merchant_id, merchant_mobile, merchant_role, pid_name, pid, order_price, first_commission, second_commission, order_status
    </sql>

</mapper>
