<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.VisitLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.VisitLog">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="interface_class" property="interfaceClass" />
        <result column="request_url" property="requestUrl" />
        <result column="visitorClientIp" property="visitorclientip" />
        <result column="time_consume" property="timeConsume" />
        <result column="parameter_content" property="parameterContent" />
        <result column="return_result" property="returnResult" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, interface_class, request_url, visitorClientIp, time_consume, parameter_content, return_result
    </sql>

</mapper>
