<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.WebsiteCodeDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.WebsiteCodeDetail">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="alias" property="alias" />
        <result column="is_activate" property="isActivate" />
        <result column="merchant_id" property="merchantId" />
        <result column="merchant_name" property="merchantName" />
        <result column="mobile" property="mobile" />
        <result column="pid" property="pid" />
        <result column="pid_path" property="pidPath" />
        <result column="batch_no" property="batchNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, alias, is_activate, merchant_id, merchant_name, mobile, pid, pid_path, batch_no
    </sql>

</mapper>
