<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.WebsiteGoodsRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.WebsiteGoodsRecord">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="website_id" property="websiteId" />
        <result column="merchant_id" property="merchantId" />
        <result column="pid_path" property="pidPath" />
        <result column="quantity" property="quantity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, website_id, merchant_id, pid_path, quantity
    </sql>

</mapper>
