<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.WxPayRefundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.WxPayRefund">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="open_id" property="openId" />
        <result column="total_fee" property="totalFee" />
        <result column="transaction_id" property="transactionId" />
        <result column="outTrade_no" property="outtradeNo" />
        <result column="refund_no" property="refundNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, open_id, total_fee, transaction_id, outTrade_no, refund_no
    </sql>

</mapper>
