<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.WxPayNotifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.WxPayNotify">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="open_id" property="openId" />
        <result column="bank_type" property="bankType" />
        <result column="total_fee" property="totalFee" />
        <result column="settlement_total_fee" property="settlementTotalFee" />
        <result column="cash_fee" property="cashFee" />
        <result column="transaction_id" property="transactionId" />
        <result column="outTrade_no" property="outtradeNo" />
        <result column="time_end" property="timeEnd" />
        <result column="notify_url" property="notifyUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, open_id, bank_type, total_fee, settlement_total_fee, cash_fee, transaction_id, outTrade_no, time_end, notify_url
    </sql>

</mapper>
