<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfshop.code.mapper.WxPushTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yfshop.code.model.WxPushTask">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="title" property="title" />
        <result column="push_time" property="pushTime" />
        <result column="push_count" property="pushCount" />
        <result column="success_count" property="successCount" />
        <result column="fail_count" property="failCount" />
        <result column="status" property="status" />
        <result column="source" property="source" />
        <result column="file_url" property="fileUrl" />
        <result column="template_id" property="templateId" />
        <result column="template_data" property="templateData" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, title, push_time, push_count, success_count, fail_count, status, source, file_url, template_id, template_data, remark
    </sql>

</mapper>
